@model Webshop.Models.Product

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.ProductName);
}

<h1>
    @Html.DisplayFor(model => model.Manufacturer.Name)
    @Html.DisplayFor(model => model.ProductName)
</h1>
<span style="font-size: 1.2rem">Preis:&nbsp;@ViewBag.BruttoPrice&nbsp;€</span>

@if (TempData["EnoughItemsInCart"] != null)
{
    <div class="row justify-content-end mt-3">
        <div class="alert alert-danger col-6 text-center">
            @TempData["EnoughItemsInCart"]
        </div>
    </div>
}
else
{
    @if (User.IsInRole("Customer") || !User.Identity.IsAuthenticated)
    {
        @if (Model.Lagerstand > 0)
        {
            <div class="row mt-3">
                <div class="alert ml-3 alert-success col-5 text-center">
                    <p>Vorrätig: @Model.Lagerstand Stück</p>
                </div>
            </div>
        }
        else if (Model.Lagerstand <= 0)
        {
            <div class="row mt-3">
                <div class="alert ml-3 alert-warning col-5 text-center">
                    <p>Kontaktieren Sie unseren Kundenservice für diesen Artikel.</p>
                    <a class="noTextDecoration" href="mailto:tronwebshop@gmx.com">E-Mail senden</a>
                </div>
            </div>
        }

        @if (Model.Lagerstand > 0)
        {
            <div class="row justify-content-end mr-2 mt-3">
                <span class="pt-2 mr-3">Menge:</span>
                <form asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@Model.Id" method="post" class="ml-3">
                    <select name="amount" asp-items="@ViewBag.Amount" class="form-control dropDownListSize d-inline btn btn-outline-dark"></select>
                    <input type="submit" name="addToCartButton" value="In den Warenkorb legen" class="btn btn-outline-dark" />
                </form>
            </div>
        }
    }
}

<hr class="mt-3" />

<div class="row" style="height:20rem">
    <div class="col-12 d-inline-flex justify-content-center align-items-center">
        <img src="@ViewBag.ImagePath" asp-append-version="true" alt="@Html.DisplayFor(model => model.Manufacturer.Name) @Html.DisplayFor(model => model.ProductName)" id="productDetailsImage" />
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="justify-content-center mt-3">
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>
    <div class="row">
        @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
        <a asp-controller="Home" asp-action="Shop" class="noTextDecoration">Zurück zu den Produkten</a>
    </div>
</div>

