@model Webshop.Models.ProductWithListOfChoosenProduct

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.ProductName);
}

<h1>
    @Html.DisplayFor(model => model.Manufacturer.Name)
    @Html.DisplayFor(model => model.ProductName)
</h1>
<span style="font-size: 1.2rem">Preis:&nbsp;@ViewBag.BruttoPrice&nbsp;€</span>

@if (TempData["DidntBuyItYet"] != null)
{
    <div class="row justify-content-center mt-3">

        <div class="alert alert-danger col-6 text-center">
            @TempData["DidntBuyItYet"]
        </div>
    </div>
}

@if (TempData["EnoughItemsInCart"] != null)
{
    <div class="row justify-content-end mt-3">
        <div class="alert alert-danger col-6 text-center">
            @TempData["EnoughItemsInCart"]
        </div>
    </div>
}
else
{
    <div class="row justify-content-end mr-2 mt-3">
        <span class="pt-2 mr-3">Menge:</span>
        <form asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@Model.Id" method="post" class="ml-3">
            <select name="amount" asp-items="@ViewBag.Amount" class="form-control dropDownListSize d-inline btn btn-outline-dark"></select>
            <input type="submit" name="addToCartButton" value="In den Warenkorb legen" class="btn btn-outline-dark" />
        </form>
    </div>
}

<hr class="mt-3" />

<div class="row" style="height:20rem">
    <div class="col-12 d-inline-flex justify-content-center align-items-center">
        <img src="@ViewBag.ImagePath" asp-append-version="true" alt="@Html.DisplayFor(model => model.Manufacturer.Name) @Html.DisplayFor(model => model.ProductName)" id="productDetailsImage" />
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="justify-content-center mt-3">
            @* Aufrufe im ViewBag anzeigen *@
            <p>@ViewBag.Calls&nbsp; Aufruf(e)</p>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>

    <div class="row justify-content-center">
        @foreach (var item in Model.ProductList)
        {
            @* Cards um die vorgeschlagenen Produkte anzuzeigen *@
            <div class="card m-3" style="width: 8rem;">
                <img class="card-img-top card-image-size" src="@item.ImagePath" asp-append-version="true" alt="@item.ProductName">
                <div class="card-body">
                    <h5 class="card-title card-text-size">@item.ProductName</h5>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark card-text-size">Zum Produkt</a>
                </div>
            </div>

        }
    </div>

    <div class="row mb-3">
        <a asp-controller="Bewertung" asp-action="Bewertungen" asp-route-id="@Model.Id" class="noTextDecoration">Bewertung für dieses Produkt abgeben</a>
    </div>
    <div class="row mb-3">
        <a asp-controller="Home" asp-action="Shop" class="noTextDecoration">Zurück zu den Produkten</a>
    </div>
    <div class="row mt-5">
        <label style="font-size:1.3rem">Dieses Produkt hat @Model.Punkte/5 Punkten</label>
    </div>
    <div class="row mt-3 mb-3">
        @foreach (var comment in Model.Comments)
        {
            <div class="commentBox mb-3">
                <label>@Model.CustomerFirstChar . sagt:<br /> @comment</label>
            </div>
        }
    </div>
</div>

