@model IEnumerable<Webshop.Models.Product>

@{
    ViewData["Title"] = "Tron";
}

<div class="container">
    <div class="row">
        <h4 class="mb-5 mt-5">Ergebnis: @ViewBag.ProductsCount Produkte</h4>
        <select name="products" class="form-control btn btn-outline-dark" asp-items="@ViewBag.Filters"></select>
    </div>
</div>

@foreach (var item in Model)
{
    <hr />
    <div class="container">
        <div class="row" style="height:20rem">
            <div class="col-md-5 d-flex justify-content-center align-items-center mb-3">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.ImagePath" asp-append-version="true" alt="Test" id="productListImage" />
                </a>
            </div>
            <div class="offset-md-2 offset-lg-1 col-md-5 col-lg-6 d-flex align-items-center">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="noTextDecoration d-block">
                    <b style="font-size: 1.5rem">
                        @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </b>
                    <br />
                    <p style="font-size: 1.2rem">@Html.DisplayFor(modelItem => item.NetUnitPrice)&nbsp;€</p>
                    <br />
                    <span>Mehr anzeigen...</span>
                </a>
            </div>
        </div>
    </div>
}
