@model Webshop.Models.Product

@{
    ViewData["Title"] = "Tron";
}

<div>
    <h1 class="mt-5">
        @Html.DisplayFor(model => model.Manufacturer.Name)
        @Html.DisplayFor(model => model.ProductName)
    </h1>
    <span>Preis:&nbsp;@Html.DisplayFor(model => model.NetUnitPrice)&nbsp;€</span>
    <div>
        <form action="../Controllers/Home/Warenkorb" method="post">
            <input type="button" name="addToCartButton" value="In den Warenkorb legen" class="btn btn-outline-dark float-right" />
        </form>
    </div>
    
    <hr />
</div>

<div class="container">
    <div class="row mt-3 mb-3" style="height:20rem">
        <div class="col-12 d-inline-flex justify-content-center align-items-center">
            <img src="@ViewBag.ImagePath" asp-append-version="true" alt="Test" id="productDetailsImage"/>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
        </div>
        <div class="row">
            @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
            <a asp-action="Shop" class="noTextDecoration">Zurück zur Übersicht</a>
        </div>
    </div>
</div>
