@model IEnumerable<Webshop.Models.Product>

@{
    ViewData["Lagerstand"] = "Tron-Webshop";
}

@foreach (var item in Model)
{
    <hr />
    <div class="container">
        <div class="row" style="height:25rem">
            <div class="col-md-5 d-flex justify-content-center align-items-center mb-3">
                <img src="@item.ImagePath" asp-append-version="true" alt="@item.Manufacturer.Name @item.ProductName" id="productListImage" />
            </div>
            @* Durch d-flex (display flex) werden die direkten kindelemente darin zu flex items und können mit weiteren flex eigenschaften weiter bearbeitet werden. Flex-column gibt an das
                sie als Spalte untereinander dargestellt werden sollen. *@
            <div class="offset-md-2 offset-lg-1 d-flex flex-column justify-content-center">
                <div>
                    <b style="font-size: 1.5rem">
                        @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </b>
                    <br />
                </div>
                <div>
                    <p style="font-size: 1.2rem">@Html.DisplayFor(modelItem => item.NetUnitPrice)&nbsp;€</p>
                    <p>Lagerbestand: @item.Lagerstand Stück</p>

                    @if (item.Lagerstand <= 2)
                    {
                        <div class="row mt-3">
                            <div class="alert ml-3 alert-warning col-12 text-center">
                                <p>Artikel wird geliefert</p>
                            </div>
                        </div>
                    }
                    else if (item.Lagerstand < 0)
                    {
                        <div class="row mt-3">
                            <div class="alert ml-3 alert-danger col-12 text-center">
                                <p>Fehler im Lagerbestand!</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

