@model IEnumerable<Webshop.Models.Product>

@{
    ViewData["Title"] = "Shop";
}

<h1 class="mb-5">Ergebnis: @ViewBag.ProductsCount Produkte</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    @*    <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NetUnitPrice)
                </th>
                <th>
                    Image
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th></th>
            </tr>
        </thead>*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="#">
                        <img src="~/src/images/notebooks/default.jpg" style="height: 250px; width:auto" />
                        @*@Html.DisplayFor(modelItem => item.ImagePath)*@
                    </a>
                </td>
                <td class="pt-5">
                    <b style="font-size: 2rem">
                        @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                    @Html.DisplayFor(modelItem => item.ProductName)
                </b> <br>
                @Html.DisplayFor(modelItem => item.NetUnitPrice) €<br>
                @*@Html.DisplayFor(modelItem => item.Category.Name)*@
                <form method="post" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                    <input type="submit" value="Mehr anzeigen" class=" btn btn-info mt-5">
                </form>
            </td>
            @*            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
        </tr>
    }
    </tbody>
</table>
