@model IEnumerable<Webshop.Models.Product>

@{
    ViewData["Title"] = "Tron-Webshop";
    int maxItems = ViewBag.MaxItems;
    List<OrderLine> orderLines = ViewBag.OrderLines;
}

<div class="container">
    <div class="row justify-content-center">
        <h5 class="mb-3">Suchen und filtern</h5>
    </div>
    <div class="row text-center justify-content-center">
        <form asp-controller="Home" asp-action="Shop" method="post" class="col-12">
            <div class="row d-flex flex-row justify-content-center">
                <select name="categorie" class="smallScreenBottomMargin form-control btn btn-outline-dark col-sm-6 col-md-3 col-lg-2 mb-sm-3 mr-2 text-left" asp-items="@ViewBag.Category"></select>
                <select name="manufacturer" class="smallScreenBottomMargin form-control btn btn-outline-dark col-sm-6 col-md-3 col-lg-2 mb-sm-3 mr-2 text-left" asp-items="@ViewBag.Manufacturers"></select>
                <input type="text" name="searchString" class="form-control col-sm-6 col-md-4 col-lg-3 mr-2" placeholder="Suchbegriff" />
            </div>
            <div class="row d-flex flex-row justify-content-center mt-3">
                <input type="submit" name="searchButton" value="Suchen" class="smallScreenBottomMargin btn btn-outline-dark custom-btn-size col-sm-6 col-md-3 col-lg-2 mr-2" />
            </div>
        </form>
        <form asp-controller="Home" asp-action="Shop" method="get" class="col-12">
            <div class="row d-flex flex-row justify-content-center mt-sm-3">
                <input type="submit" name="clearFilterButton" value="Filter zurücksetzen" class="smallScreenBottomMargin btn btn-outline-danger custom-btn-size col-sm-6 col-md-3 col-lg-2 mb-sm-3 mr-2" />
            </div>
        </form>
    </div>
    <div class="row mt-3">
        <h5 class="mb-5">Ergebnis: @ViewBag.ProductsCount Produkt(e)</h5>
    </div>
</div>

@foreach (var item in Model)
{
    <hr />
    <div class="container">
        <div class="row" style="height:25rem">
            <div class="col-md-5 d-flex justify-content-center align-items-center mb-3">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.ImagePath" asp-append-version="true" alt="@item.Manufacturer.Name @item.ProductName" id="productListImage" />
                </a>
            </div>
            @* Durch d-flex (display flex) werden die direkten kindelemente darin zu flex items und können mit weiteren flex eigenschaften weiter bearbeitet werden. Flex-column gibt an das
                sie als Spalte untereinander dargestellt werden sollen. *@
            <div class="offset-md-2 offset-lg-1 d-flex flex-column justify-content-center">
                <div>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="noTextDecoration ">
                        <b style="font-size: 1.5rem">
                            @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </b>
                        <br />
                    </a>
                </div>
                <div>
                    <p style="font-size: 1.2rem">@Html.DisplayFor(modelItem => item.NetUnitPrice)&nbsp;€</p>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="noTextDecoration">
                        <p>Mehr anzeigen...</p>
                    </a>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            @* Kein Formular, damit die Methode nicht die Seite neu lädt *@
                            <input type="submit" data-id="@item.Id" value="In den Warenkorb legen"
                                   class="btn btn-outline-dark addToCartButton mt-3" />
                        }
                        else
                        {
                            @* Wenn der User nicht angemeldet ist, die Methode durchlaufen um zum Login zu schicken *@
                            <form asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@item.Id"
                                  method="post">
                                <input type="submit" value="In den Warenkorb legen" class="btn btn-outline-dark mt-3" />
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

@* jQuery damit die Seite nicht neu geladen wird wenn man dem Warenkorb einen Item hinzufügt (User ist angemeldet) *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        $(".addToCartButton").click(function () {
            var idOfItem = $(this).attr("data-id");
            var amount = 1;
            if (idOfItem != '') {
                $.post("/ShoppingCart/AddToShoppingCart", { "amount": amount, "id": idOfItem })
                    .done(function () {
                        toastr.success("Wurde dem Warenkorb hinzugefügt!");
                    })
                    .fail(function () {
                        console.log("jQuery Methode im Shop")
                    });
            }
        });
    });
</script>
