@model IEnumerable<Webshop.ViewModels.CustomerOrderViewModel>

@{
    ViewData["Title"] = "Warenkorb";
}

@{
    Customer customer = @ViewBag.Customer;
    Order order = ViewBag.Order;
}

<div class="row pl-3">
    <div class="mb-5">
        <h1>Warenkorb</h1>
    </div>
</div>

<div class="row">
    <div class="text-center col-sm-12 mb-3">
        <h3>Produkte</h3> <br />
        @if (TempData["NoItems"] != null)
        {
            <div class="alert alert-danger col-md-6 col-sm-12 d-block mx-auto text-center">
                @TempData["NoItems"]
            </div>
        }
        @foreach (var item in Model)
        {
            <div class="container">
                <div class="row mb-3">
                    <div class="d-flex col-sm-12 col-md-5 justify-content-center mb-3">
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductNumber">
                            <img src="@item.ImagePath" asp-append-version="true" alt="@item.Manufacturer @item.ProductName" style="height:8rem; width:auto" />
                        </a>
                    </div>
                    <div class="d-flex flex-column col-sm-12 col-md-6 text-left justify-content-center">
                        <form>
                            <span>
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductNumber" class="noTextDecoration">
                                    <b class="noTextDecoration">@item.Manufacturer&nbsp;@item.ProductName</b>
                                </a>
                                <a asp-controller="ShoppingCart" asp-action="DeleteFromCart" asp-route-id="@item.ProductNumber"
                                   class="float-right warningColor productDetailsInCart noTextDecoration">
                                    <img src="/src/images/icons/stornieren.png" id="deleteBtn" alt="Aus Warenkorb entfernen" style="height:1.8rem; width:auto;" />
                                </a>
                            </span>
                        </form>
                        <span class="">Produktnummer:&nbsp;@item.ProductNumber</span>
                        <span class="">Stückpreis:&nbsp;@item.BruttoPrice&nbsp;€</span>
                        <span class="">Gesamt:&nbsp;@item.RowPrice&nbsp;€</span>
                        @*<form asp-controller="ShoppingCart" asp-action="DecrementValue" asp-route-id="@item.ProductNumber" method="post">*@
                            <span>
                                Menge:&nbsp;@item.Orderline.Amount
                                @*<select name="amountInCart" asp-items="@item.SelectList"
                                            class="form-control d-inline btn btn-outline-dark dropDownListSize ml-2">
                                    </select>*@
                                @*<input value="1" type="hidden">*@
                                <a 
                                   asp-controller="ShoppingCart" 
                                   asp-action="IncrementValue" 
                                   asp-route-id="@item.ProductNumber" 
                                   asp-route-amountInCart="@item.Orderline.Amount"
                                   class="ml-3 noTextDecoration">
                                    <img src="/src/images/icons/hinzufugen.png" alt="Dem Warenkorb eins hinzufügen" style="height:1.3rem; width:auto;" />
                                </a>
                                <a 
                                   asp-controller="ShoppingCart" 
                                   asp-action="DecrementValue" 
                                   asp-route-id="@item.ProductNumber" 
                                   asp-route-amountInCart="@item.Orderline.Amount"
                                   class="ml-2 noTextDecoration">
                                    <img src="/src/images/icons/minus.png" alt="Aus dem Warenkorb eins entfernen" style="height:1.3rem; width:auto;" />
                                </a>
                                @*<input type="submit" class="btn btn-outline-dark text-center ml-2" value="Bestätigen">*@
                            </span>
                        @*</form>*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Gesamtpreis</h3>
            <span style="font-size:1.3rem">@order.PriceTotal&nbsp;€</span>
            <div class="mt-3">
                <form asp-controller="Order" asp-action="Order" method="post">
                    <input type="submit" id="checkOutBtn" value="Zur Kasse" class="btn btn-outline-dark custom-btn-size" />
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        const price = parseFloat(@order.PriceTotal).toFixed(2);
            if (price <= 0) {
                document.getElementById("checkOutBtn").disabled = true;
            }
        }
</script>