@model Webshop.ViewModels.FinishedOrderViewModel
@{
    Layout = null;
}

<body style="font-family:Tahoma;font-size:12px;color: #333333;background-color:#FFFFFF;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:842px; width:595px;font-size:12px;">
        <tbody>
            <tr>
                <td valign="top">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="bottom" width="50%" height="50">
                                    <div align="justify">
                                        <img style="height:5rem;width:auto" src="D:\VisualStudio2019\Webshop\Webshop\wwwroot\icons8-tron-64.png">
                                    </div>
                                    <br>
                                </td>
                                <td width="50%">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>Empfänger: <br><br>
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="top" width="35%" style="font-size:12px;">
                                    <strong>@Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName)</strong><br>
                                    @Html.DisplayFor(model => model.Customer.Street)<br>
                                    @Html.DisplayFor(model => model.Customer.Zip)&nbsp;@Html.DisplayFor(model => model.Customer.City)
                                </td>
                                <td valign="top" width="35%">
                                </td>
                                <td valign="top" width="30%" style="font-size:12px;">
                                    Rechnungsdatum: @DateTime.Now.ToShortDateString()<br>
                                    Fälligkeitsdatum: @DateTime.Now.AddDays(14).ToShortDateString() <br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" height="100" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td><div align="center" style="font-size: 14px;font-weight: bold;">Rechnung Nr. @Html.DisplayFor(model => model.Order.Id) </div></td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" cellspacing="0" cellpadding="2" border="1" bordercolor="#CCCCCC">
                        <tbody>
                            <tr>
                                <td width="35%" bordercolor="#ccc" bgcolor="#f2f2f2" style="font-size:12px;"><strong>Beschreibung </strong></td>
                                <td bordercolor="#ccc" bgcolor="#f2f2f2" style="font-size:12px;"><strong>Menge</strong></td>
                                <td bordercolor="#ccc" bgcolor="#f2f2f2" style="font-size:12px;"><strong>Stückpreis in €</strong></td>
                                <td bordercolor="#ccc" bgcolor="#f2f2f2" style="font-size:12px;"><strong>Steuer in %</strong></td>
                            </tr>
                            <tr style="display:none;"><td colspan="*"></td></tr>
                            @foreach (var item in Model.OrderLines)
                            {
                                <tr>
                                    <td valign="top" style="font-size:12px;">@item.Product.Manufacturer.Name&nbsp;@item.Product.ProductName</td>
                                    <td valign="top" style="font-size:12px;">@item.Amount </td>
                                    <td valign="top" style="font-size:12px;">@item.NetUnitPrice </td>
                                    <td valign="top" style="font-size:12px;">@item.TaxRate </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table width="100%" cellspacing="0" cellpadding="2" border="0">
                        <tbody>
                            <tr>
                                <td style="font-size:12px;width:50%;"><strong> </strong></td>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                        <tbody>
                                            <tr>
                                                <td align="right" style="font-size:12px;">Gesamtpreis Netto</td>
                                                <td align="right" style="font-size:12px;">@Html.DisplayFor(model => model.FullNettoPrice)&nbsp;€</td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" style="font-size:12px;">USt.(20%)</td>
                                                <td align="right" style="font-size:12px;">@Html.DisplayFor(model => model.Taxes)&nbsp;€</td>
                                            </tr>
                                            <tr>
                                                <td align="right" style="font-size:12px;"><b>Gesamtpreis</b></td>
                                                <td align="right" style="font-size:12px;"><b>@Html.DisplayFor(modelItem => modelItem.Order.PriceTotal)&nbsp;€</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" height="50"><tbody><tr><td style="font-size:12px;text-align:justify;"></td></tr></tbody></table>
                    <table width="100%" cellspacing="0" cellpadding="2">
                        <tbody>
                            <tr>
                                <td width="33%" style="border-top:double medium #CCCCCC;font-size:12px;" valign="top">
                                    <b>Tron-Webshop</b><br>
                                    StNr.:  12-999/9124<br>
                                    USt-IdNr.:  ATU12345678<br>
                                </td>
                                <td width="33%" style="border-top:double medium #CCCCCC; font-size:12px;" align="center" valign="top">
                                    Simmeringer Hauptstraße 47<br>
                                    1110 Wien <br>
                                    Telefon: 0000-1111-222<br>
                                </td>
                                <td valign="top" width="34%" style="border-top:double medium #CCCCCC;font-size:12px;" align="right">
                                    Bank: Bankenhaus<br> IBAN: AT82 1982 1977 1986 1956 <br>SWIFT/BIC: BKAUATWW
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
