@model Webshop.Models.Order
@{
    Layout = null;
}

@*<div class="row">
        <div class="col-12 text-center">
            <img src="@Server.MapPath("~/wwwroot/icons8-tron-64-png")"  alt="Tron-Webshop Logo" style="height:5rem; width:auto;" />
        </div>
    </div>*@

@Html.DisplayFor(model => model.FirstName)&nbsp;@Html.DisplayFor(model => model.LastName)
<br />
@Html.DisplayFor(model => model.Street)
<br />
@Html.DisplayFor(model => model.Zip)&nbsp;@Html.DisplayFor(model => model.City)

<p>
    Rechnungsdatum:&nbsp;@DateTime.Now.ToShortDateString()
</p>

<p>
    Kundennr.:&nbsp;@Html.DisplayFor(model => model.CustomerId)
</p>
<p>
    Fälligkeitsdatum:&nbsp;@DateTime.Now.AddDays(14).ToShortDateString()
</p>

<h1>Rechnung Nr:&nbsp;@Html.DisplayFor(model => model.Id)</h1>

<p>
    Hallo @Html.DisplayFor(model => model.FirstName)&nbsp;@Html.DisplayFor(model => model.LastName),
</p>
<br />
<p>
    vielen Dank für deinen Einkauf!<br />
    Unten findest Du eine Übersicht über die gekauften Produkte.
</p>

@* Die Orderlines durchlaufen und in Tabelle schreiben *@
@foreach (var item in Model.OrderLines)
{
<table class="table col-12">
    <thead>
        <tr>
            <th>
                Hersteller
            </th>
            <th>
                Modell
            </th>
            <th>
                Menge
            </th>
            <th>
                Nettopreis in €
            </th>
            <th>
                Steuer in %
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Product.Manufacturer.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetUnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxRate)
            </td>
        </tr>
        </tbody>
</table>
}
<p>
    Bitte bezahle den offenen Betrag bis zum oben angegebenen Fälligkeitsdatum.
</p>
<br />
<p>
    Mit freundlichen Grüßen
</p>
<br />
<p>
    Dein Tron-Team
</p>
