@model IEnumerable<Webshop.ViewModels.CustomerOrderViewModel>

@{
    ViewData["Title"] = "Bestelldetails";
}

@{
    Customer customer = @ViewBag.Customer;
    Order order = ViewBag.Order;
}

<div class="row pl-3">
    <div class="mb-5">
        <h1>Bestelldetails</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-3 mb-sm-3">
        <div>
            <h3>Lieferadresse</h3>
            <p>Sollte die Lieferadresse von der Rechnungsadresse abweichen können Sie diese hier ändern.</p>
            @if (TempData["Warning"] != null)
            {
                <div class="alert alert-danger text-center">
                    @TempData["Warning"]
                </div>
            }
        </div>
        <div class="form-group">
            <label for="title">Anrede</label>
            <input type="text" name="title" class="form-control" value="@customer.Title">
        </div>
        <form asp-controller="Order" asp-action="Checkout" method="post" id="checkOutForm">
            <div class="form-group">
                <label for="firstName">Vorname</label>
                <input type="text" name="firstName" maxlength="50"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       class="form-control" value="@customer.FirstName">
            </div>
            <div class="form-group">
                <label for="lastName">Nachname</label>
                <input type="text" name="lastName" maxlength="50"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       class="form-control" value="@customer.LastName">
            </div>
            <div class="form-group">
                <label for="street">Straße und Nr.</label>
                <input type="text" name="street" maxlength="80"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       class="form-control" value="@customer.Street">
            </div>
            <div class="form-group">
                <label for="zip">Postleitzahl</label>
                <input type="number" name="zip" maxlength="4"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       class="form-control" value="@customer.Zip">
            </div>
            <div class="form-group">
                <label for="city">Stadt</label>
                <input type="text" name="city" maxlength="50"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       class="form-control" value="@customer.City">
            </div>
        </form>
    </div>
    <div class="text-center col-sm-12 col-lg-7 mb-sm-3">
        <h3>Produkte</h3> <br />
        @if (TempData["NoItems"] != null)
        {
            <div class="alert alert-danger col-md-6 col-sm-12 d-block mx-auto text-center">
                @TempData["NoItems"]
            </div>
        }
        @foreach (var item in Model)
        {
            <div class="container">
                <div class="row" style="height:10rem">
                    <div class="d-flex col-6 justify-content-center align-items-center">
                        <hr />
                        <img src="@item.ImagePath" asp-append-version="true" alt="@item.Manufacturer @item.ProductName" style="height:8rem; width:auto" />
                    </div>
                    <div class="d-flex flex-column col-6 text-left justify-content-center">
                        <span><b>@item.Manufacturer&nbsp;@item.ProductName</b></span>
                        <span class="">Produktnummer:&nbsp;@item.ProductNumber</span>
                        <span class="">Menge:&nbsp;@item.Orderline.Amount</span>
                        <span class="">Stückpreis:&nbsp;@item.BruttoPrice&nbsp;€</span>
                        <span class="">Gesamt:&nbsp;@item.RowPrice&nbsp;€</span>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center mt-3 mb-3">
                            <input class="form-check-input" type="checkbox" id="cartCheckbox">
                            <label class="form-check-label">
                                Ich möchte kostenpflichtig bestellen.
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
    <div class="col-sm-12 col-lg-2 text-center text-lg-right">
        <h3>Gesamtpreis</h3>
        <span style="font-size:1.3rem">@order.PriceTotal&nbsp;€</span>
        <div class="mt-3">
            @* form gibt an auf welches Formular der button hört *@
            <input type="submit" id="orderNowBtn" value="Bestellen" form="checkOutForm" class="btn btn-outline-success custom-btn-size" />
        </div>
    </div>
</div>


<script>
    const orderNowBtn = document.getElementById("orderNowBtn");
    const cartCheckbox = document.getElementById("cartCheckbox");

    // Button zu Beginn disablen
    orderNowBtn.disabled = true;

    // Wenn sich was an der Checkbox ändert orderNowBtn aktivieren und deaktivieren
    cartCheckbox.addEventListener("change", (e) => {
        if (e.target.checked) {
            orderNowBtn.disabled = false;
        }
        else {
            orderNowBtn.disabled = true;
        }
    });
</script>